###### Spring Boot (backend) ######

spring-boot-ecommerce/HELP.md
spring-boot-ecommerce/target/
spring-boot-ecommerce/!.mvn/wrapper/maven-wrapper.jar
spring-boot-ecommerce/!**/src/main/**/target/
spring-boot-ecommerce/!**/src/test/**/target/

### STS ###
spring-boot-ecommerce/.apt_generated
spring-boot-ecommerce/.classpath
spring-boot-ecommerce/spring-boot-ecommerce/.factorypath
spring-boot-ecommerce/.project
spring-boot-ecommerce/.settings
spring-boot-ecommerce/.springBeans
spring-boot-ecommerce/.sts4-cache

### IntelliJ IDEA ###
spring-boot-ecommerce/.idea
spring-boot-ecommerce/*.iws
spring-boot-ecommerce/*.iml
spring-boot-ecommerce/*.ipr

### NetBeans ###
spring-boot-ecommerce/nbproject/private/
spring-boot-ecommerce/nbbuild/
spring-boot-ecommerce/dist/
spring-boot-ecommerce/nbdist/
spring-boot-ecommerce/.nb-gradle/
spring-boot-ecommerce/build/
spring-boot-ecommerce/!**/src/main/**/build/
spring-boot-ecommerce/!**/src/test/**/build/

###### Angular (frontend) ######

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
angular-ecommerce/dist
angular-ecommerce/tmp
angular-ecommerce/out-tsc
angular-ecommerce/bazel-out

# Node
angular-ecommerce/node_modules
angular-ecommerce/npm-debug.log
angular-ecommerce/yarn-error.log

# IDEs and editors
angular-ecommerce/.idea/
angular-ecommerce/.project
angular-ecommerce/.classpath
angular-ecommerce/.c9/
angular-ecommerce/*.launch
angular-ecommerce/.settings/
angular-ecommerce/*.sublime-workspace

# Visual Studio Code
angular-ecommerce/.vscode/*
angular-ecommerce/!.vscode/settings.json
angular-ecommerce/!.vscode/tasks.json
angular-ecommerce/!.vscode/launch.json
angular-ecommerce/!.vscode/extensions.json
angular-ecommerce/.history/*

# Miscellaneous
angular-ecommerce/.angular/cache
angular-ecommerce/.sass-cache/
angular-ecommerce/connect.lock
angular-ecommerce/coverage
angular-ecommerce/libpeerconnection.log
angular-ecommerce/testem.log
angular-ecommerce/typings
angular-ecommerce/src/environments/

# System files
.DS_Store
Thumbs.db
